---
import { ToolHeading } from '../heading'
import { ToolDescription } from '../description'

const { title, description } = Astro.props
---

<main class="max-w-6xl mx-auto p-8">
  <header>
    <ToolHeading>
       {title}
    </ToolHeading>
    <ToolDescription>
      {description}
    </ToolDescription>
  </header>
  <slot />
</main>
