name: Stage Build & Deploy

on:
  push:

jobs:
  build-web:
    name: Build Web
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --max-old-space-size=12288
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Run build
        run: pnpm run build

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: web-dist
          path: apps/web/dist

  deploy-to-cloudflare-workers-staging:
    name: Upload Workers Version
    runs-on: ubuntu-latest
    needs:
      - build-web
    permissions:
      contents: read
    environment:
      name: cloudflare-workers-staging
      url: ${{ steps.deployment.outputs.deployment-url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Download Artifact
        uses: actions/download-artifact@v7
        with:
          name: web-dist
          path: apps/web/dist

      - name: Upload Worker Version
        uses: cloudflare/wrangler-action@v3
        id: deployment
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: apps/web
          command: versions upload --tag "${{ github.run_id }}" --message ${{ toJSON(github.event.head_commit.message || github.event.pull_request.title || github.event.release.name || github.sha) }}
